html {
	overflow: hidden;
}

h1 {
	margin-bottom: 0.5em;
	font-size: 4em;
	line-height: 1.4;
	font-weight: 800;
}

h2 {
	color: #222;
	margin-bottom: .5em;
	margin-top: .5em;
	font-size: 2.75em;
	line-height: 1.2;
	font-weight: 600;
}

h3 {
	color: #222;
	margin-bottom: .5em;
	margin-top: .5em;
	font-size: 1.8em;
	line-height: 1;
	font-weight: 400;
}

#contentWrapper {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: left;
	position: absolute;
	overflow:auto;
	background: white url(#{ resource [ './images/bodyback.png' ]}) left top;
}

#frmMenuBar {
	margin: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 90%;
	position: absolute;
}

#pageTitle {
	padding-top: 25px;
	width: 70%;
	margin: 0 auto;
}

.mainContent {
	width: 80%;
	margin: 0 auto;
	padding: 1em 0px;
	background: rgba(255, 255, 255, 0.33);
	overflow: visible;
}

.label {
	background: gainsboro;
	padding: 2px;
	font-weight: bold;
}

.value {
	background: ghostwhite;
	padding: 2px;
}

.block {
	display: inline-block
}
