html {
	overflow: auto;
}

body {
	background: white url(#{resource['./images/bodyback.png']}) left top;
}

label {
	font-weight: bold;
}

h1 {
    margin-bottom: 0.2em;
    font-size: 4em;
    line-height: 1.4;
    font-weight: 800;
}

h2 {
    color: #222;
    margin-bottom: .5em;
    margin-top: .5em;
    font-size: 2.75em;
    line-height: 1.2;
    font-weight: 400;
}


#contentWrapper {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 20px;
	overflow: auto;
	text-align: left;
	position: absolute;
	background: transparent;
}

#menu {
	margin: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	position: absolute;
}

#divTitle {
    clear: both;
    width: 80%;
    font-size: 0.8125em;
    max-width: 760px;
    margin: 0 auto;
    padding: 120px 0px 30px 0px;
    position: relative;
    color: #000;
    text-align: center;
}

#divTop {
	width: 100%;
	vertical-align: baseline;
	font-size: 100%;
	vertical-align: baseline;
	background: url(#{resource['./images/headerback.png']}) no-repeat center;
}

.mainContentContainer {
    vertical-align: baseline;
    background: transparent;
    background: rgba(255, 255, 255, 0.33);
    border-bottom: 1px #fff solid;
}

.mainContent {
	clear: both;
    width: 80%;
    font-size: 0.8125em;
    max-width: 92.3em;
    margin: 0 auto;
    padding: 1em 0px;
    color: #333;
    line-height: 1.5em;
    position: relative;
}

.label {
	background: gainsboro;
	padding: 2px;
	font-weight: bold;
}

.value {
	background: ghostwhite;
	padding: 2px;
}

.required {
	color: red;
}

.block {
	display: inline-block
}